<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="HomePage_TestScripts.Home_TestCases">
      <methods>
      <include name="Verify_feature_Button1"></include>
      <include name="Verify_feature_Button"></include>
      <include name="Verify_Plans_Button"></include>
      <include name="Verify_Blogs_Button"></include>
      <include name="Verify_Blogs_Button"></include>
      <include name="Verify_Join_Game_Button"></include>
      <include name="Verify_Math_Game_Button"></include>
      <include name="Verify_Science_Game_Button"></include>
      
      </methods>
      </class>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
